{
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "semi": true
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "semi": false,
        "singleQuote": false
      }
    }
  ]
}

