@use "../../styles/color.scss" as color;

.box {
  display: flex;
  width: 100%;

  border-bottom: 1px solid color.$gray;
}
.left {
  padding: 5px;
}
.right {
  display: flex;
  flex-direction: column;

  padding: 10px;
}
.title {
  font-size: 15px;
  margin-bottom: 5px;
}
.created {
  font-size: 12px;
  margin-bottom: 5px;
}
.price {
  font-size: 18px;
  font-weight: 700;
}

.image {
  margin: 0;
  border: 1px solid color.$gray;
  border-radius: 15px;
}
