@use "../../styles/mixin";

.box {
  @include mixin.fadeIn-animation(1s);
  display: flex;
  flex-direction: column;
  overflow: scroll;

  width: 100%;
  height: calc(100vh - 55px - 65px);
  padding: 0 15px;

  position: absolute;
  top: 65px;
}
