@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.box {
  display: flex;
  flex-direction: column;
  overflow: scroll;

  width: 100%;
  height: calc(100vh - 55px - 65px);
  padding: 0 15px;

  position: absolute;
  top: 65px;

  animation: fadeIn 1.5s;
}
