@use "../../../styles/color.scss" as color;

.box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 20px;
  font-weight: 900;
  border-bottom: 1px solid color.$gray;
  text-align: center;
}

.title {
  display: inline-block;
}

.back-btn {
  position: absolute;
  left: 10px;
}

.menu-btn {
  position: absolute;
  right: 10px;
}
