@use "../../../styles/color";
@use "../../../styles/mixin";

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  padding: 20px;
  font-size: 20px;
  font-weight: 900;
  border-bottom: 1px solid color.$gray;
  text-align: center;
  background-color: white;
}

.title {
  display: inline-block;
}

.menu {
  @include mixin.fadeIn-animation(0.7s);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 45px;
  right: 0;
  width: 100%;

  font-weight: 300;
}

.menu-item {
  margin: 2px 15px;
  padding: 20px;
  border: 1px solid color.$gray;
  border-radius: 10px;
  background-color: white;
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.219);
}
