.box {
  display: flex;
  align-items: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
.plus-btn {
  width: 20px;
  height: 20px;
  border: none;
  flex-grow: 0;
  background: url(../../../public/image/chatting/iconmonstr-plus-lined.svg);
}
.send-btn {
  width: 20px;
  height: 20px;
  border: none;
  flex-grow: 0;
  background: url(../../../public/image/chatting/send.png);
  background-size: contain;
}

.input {
  height: 35px;
  margin: 0 10px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  flex-grow: 1;
  background-color: rgb(231, 231, 231);
}
